:root {
    /* Typography */
    --ff-primary: "DM Sans", sans-serif;
    --clr-primary-accent: hsl(274deg 85% 80%);
    --clr-secondary-accent: hsl(37deg 100% 50%);
    --clr-terciary-accent: hsl(14deg 100% 68%);
    --border-w: 1px;
    --btn-w: 1.5rem; /* change btn size, and everything else scales according to it. except border size */
    --btn-h: calc(var(--btn-w) / 2); /* increase btn height by decreasing the number */
    --gap-toggle: calc(var(--btn-h) / 10); /* increase gap by decreasing the number */
}

/* :root:not(:has(#dark-mode-toggle:checked)) { */
[data-theme="light"] {
    color-scheme: light;

    --clr-body-bg: hsl(259deg 100% 99%);
    --clr-card-bg: hsl(0deg 0% 100%);
    --clr-header: hsl(0deg 0% 0%);
    --clr-text: hsl(0deg 1% 42%);
    --clr-input-bg: hsl(240deg 27% 91%);
}

/* :root:has(#dark-mode-toggle:checked) { */
[data-theme="dark"] {
    color-scheme: dark;

    --clr-body-bg: hsl(209deg 50% 10%);
    --clr-card-bg: hsl(209deg 50% 5%);
    --clr-header: hsl(259deg 100% 99%);
    --clr-text: hsl(240deg 10% 82%);
    --clr-input-bg: hsl(240deg 13% 15%);
}


/* makes sizing simpler */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing
   force styling of type through styling, rather than elements */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* dark mode user-agent-styles */
html {
    color-scheme: dark light;
}

/* min body height */
body {
    min-height: 100vh;
    color: var(--clr-text);
    font-family: var(--ff-primary);
    background: var(--clr-body-bg);
    font-optical-sizing: auto;

}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* improve readability with max-width on paragraphs and lists
   prevent orphans in supported browsers */
p,
li {
    max-width: var(--p-max-width, 65ch);
    text-wrap: pretty;
}

/* --------------------------
   Utility classes
-------------------------- */

/* general */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-block-start: var(--flow-space, 1rem);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}

/* -------------------------- */

h1 {
    color: var(--clr-header);
}

.container {
    container-type: inline-size;
    max-width: 80rem;
    padding: 1em;
    margin-inline: auto;
}

.header {
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 1.5em;
}

.my-logo-left {
    width: 0.75em;
    height: 1.5em;
    background: var(--clr-primary-accent);
}

.my-logo-right {
    width: 0.5em;
    height: 1em;
    background: var(--clr-primary-accent);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    transform: translate(150%, -125%);
}

.my-logo-inner {
    width: 0.5em;
    height: 1em;
    background: var(--clr-body-bg);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    transform: translateX(-100%);
}

.header > h1 {
    width: 100%;
}

/* Theme toggle switch */

.theme-picker-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
}

.dark-mode-toggle {
    position: relative;
    align-items: center;
    justify-content: flex-start;
    box-sizing: content-box;
    width: var(--btn-w);
    height: var(--btn-h);
    padding: var(--gap-toggle);
    color: var(--clr-text);
    border: var(--border-w) solid;
    border-radius: var(--btn-w);
    cursor: pointer;
    transition: background 0.3s;
    appearance: none;
}

.dark-mode-toggle::before {
    position: absolute;
    left: var(--gap-toggle);
    box-sizing: border-box;
    width: var(--btn-h);
    height: var(--btn-h);
    color: var(--clr-text);
    background: currentcolor;
    border: var(--border-w) solid;
    border-radius: 50%;
    transition: transform 0.3s;
    content: '';
}

[id^="dark-mode-toggle"]:checked.dark-mode-toggle::before {
    transform: translateX(calc(var(--btn-w) - var(--btn-h)));
}

/* --------------------------
   Title
-------------------------- */

.title {
    margin: 1em 0;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

/* --------------------------
   Textarea
-------------------------- */
.input {
    color: var(--clr-text);
    background-color: var(--clr-input-bg);
    border-color: transparent;
}

.textarea {
    width: 100%;
    padding: 0.25em 0.5em;
    font-family: inherit;
    border-radius: 4px;
    resize: none;
}

/* --------------------------
   Options
-------------------------- */

.options {
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.check-character-limit:has([id^="set-character-limit"]:checked) + .limit {
    display: none;
}

.reading-time {
    margin-inline-start: auto;
}

/* --------------------------
   Card
-------------------------- */

.card-container {
    flex-flow: column nowrap;
    justify-content: space-between;
}

@container (min-width: 40em) {
    .card-container {
        flex-direction: row;
    }
}

.card {
    flex-grow: 1;
    padding: 1em;
    color: var(--clr-body-bg);
    border-radius: 0.5em;
}

.total {
    background: var(--clr-primary-accent);
}

.word-count {
    background: var(--clr-secondary-accent);
}

.sentence-count {
    background: var(--clr-terciary-accent);
}